app = "movie-ticket-booking-system"

primary_region = "bom"

[env]
JAVA_TOOL_OPTIONS = "-Xms128m -Xmx256m"

[http_service]
internal_port = 8080
force_https = true

auto_start_machines = true
auto_stop_machines = false
min_machines_running = 1

[[vm]]
memory = "256mb"
cpu_kind = "shared"
cpus = 1
